In [1]:
import pandas as pd

In [2]:
movie = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\midterm\movie.csv")
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
rating = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\midterm\rating.csv")
rating.head()

   userId  movieId  rating            timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [4]:
movie.shape

(27278, 3)

In [6]:
movie.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [7]:
movie.duplicated().sum()

0

In [5]:
rating.shape

(20000263, 4)

In [9]:
rating.drop(rating.index[50001:20000263], inplace=True)

In [10]:
rating.shape

(50001, 4)

In [11]:
rating.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [12]:
rating.duplicated().sum()

0

In [13]:
# tính trung bình rating cho từng moveId
# merge 2 bảng by moveId
dfM = movie.copy()
dfT = rating.copy()

In [20]:
dfT['rating'] = dfT.groupby('movieId')['rating'].transform('mean')

In [21]:
dfT.shape

(50001, 4)

In [22]:
dfT['rating']

0        3.180000
1        3.981481
2        3.830508
3        4.053719
4        4.308333
           ...
49996    1.833333
49997    3.666667
49998    2.750000
49999    3.500000
50000    3.400000
Name: rating, Length: 50001, dtype: float64

In [24]:
dfT['movieId'].duplicated().sum()

43530

In [25]:
dfM['movieId'].duplicated().sum()

0

In [28]:
dfT.drop('userId', axis=1, inplace=True)
dfT.shape

(50001, 3)

In [29]:
df = dfT.groupby('movieId')['rating'].mean().reset_index()
df.shape

(6471, 2)

In [30]:
df.head()

   movieId    rating
0        1  3.945312
1        2  3.180000
2        3  3.214286
3        4  2.875000
4        5  3.034483

In [31]:
dfT.shape

(50001, 3)

In [39]:
df = dfT.groupby('movieId').agg({'rating':'mean', 'timestamp':'count'}).reset_index()
df.shape

(6471, 3)

In [40]:
df.head()

   movieId    rating  timestamp
0        1  3.945312        128
1        2  3.180000         50
2        3  3.214286         28
3        4  2.875000          8
4        5  3.034483         29

In [41]:
df.columns

Index(['movieId', 'rating', 'timestamp'], dtype='object')

In [42]:
dfM['movieId'].nunique()

27278