In [1]:
import pandas as pd
import numpy as np

In [2]:
survey = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Data Analyze\Data\heart_disease.csv")
survey.head()

,Gender,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,Heart_ stroke
0,Male,39,postgraduate,0,0.0,0.0,no,0,0,195.0,106.0,70.0,26.97,80.0,77.0,No
1,Female,46,primaryschool,0,0.0,0.0,no,0,0,250.0,121.0,81.0,28.73,95.0,76.0,No
2,Male,48,uneducated,1,20.0,0.0,no,0,0,245.0,127.5,80.0,25.34,75.0,70.0,No
3,Female,61,graduate,1,30.0,0.0,no,1,0,225.0,150.0,95.0,28.58,65.0,103.0,yes
4,Female,46,graduate,1,23.0,0.0,no,0,0,285.0,130.0,84.0,23.10,85.0,85.0,No

In [6]:
survey.dtypes

Gender              object
age                  int64
education           object
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke     object
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
Heart_ stroke       object
dtype: object

In [3]:
survey.isnull().sum()

Gender               0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
Heart_ stroke        0
dtype: int64

In [4]:
df = survey.copy()
df.shape

(4238, 16)

In [8]:
# replace for object "education"
educa_mode = df['education'].mode()[0]
df['education'] = df['education'].fillna(educa_mode)

In [9]:
df['education'].isnull().sum()

0

In [12]:
cig_mean = df['cigsPerDay'].mean()
df['cigsPerDay'].fillna(cig_mean, inplace=True)

In [13]:
df['cigsPerDay'].isnull().sum()

0

In [14]:
# replace for object "BPMeds"
BPM_mean = df['BPMeds'].mean()
df['BPMeds'].fillna(BPM_mean, inplace=True)

In [15]:
tot_mean = df['totChol'].mean()
df['totChol'].fillna(tot_mean, inplace=True)

In [ ]:
BMI_mean = df['BMI'].mean()
df['BMI'].fillna(BMI_mean, inplace=True)

In [ ]:
tot_mean = df['totChol'].mean()
df['totChol'].fillna(tot_mean, inplace=True)

In [ ]:
tot_mean = df['totChol'].mean()
df['totChol'].fillna(tot_mean, inplace=True)