In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Machine Learning\Data\titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
titanic.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
df = titanic.copy()
df.shape

(891, 12)

In [6]:
# replace numerical "Age" by mean
ageMean = df['Age'].mean()
df['Age'].fillna(ageMean, inplace=True)

In [7]:
# replace object "Cabin" by frecency
cabinFre = df['Cabin'].mode()[0]
df['Cabin'].fillna(cabinFre, inplace=True)

In [9]:
8

In [10]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [11]:
df.to_csv(r"D:\Documents\3nd_year\Semester2\Machine Learning\Data\titanic-clean.csv")

In [22]:
df.drop(['PassengerId', 'Name'], axis=1, inplace=True)

In [25]:
df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,male,22.0,1,0,A/5 21171,7.2500,B96 B98,S
1,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,female,26.0,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,1,1,female,35.0,1,0,113803,53.1000,C123,S
4,0,3,male,35.0,0,0,373450,8.0500,B96 B98,S

In [13]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [23]:
X = df.drop('Survived', axis=1)
Y = df['Survived']

In [27]:
X = pd.get_dummies(X)
X

In [31]:
x_train, y_train, x_test, y_test = train_test_split(X, Y)
clf = LogisticRegression()
clf.fit(x_train, y_train)
y_hat = clf.predict(x_test)
acc = accuracy_score(y_test, y_hat)
print(f"Accuracy: {acc}")

ValueError: Unknown label type: continuous-multioutput. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.