# Real-world Data Wrangling
### Fullname: Nguyễn Thị Tiểu Tiên
### ID: 21IT050
### Class: 21KIT

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets. 

Your statements here

In this dataset, I would like to answer the following research questions:

Question 1: how many cities in this survey?

Question 2: Which city has the highest price?

Question 3: How many hosts have name Majia and list out.

### **1.2.** Gather at least two datasets using two different data gathering methods

Gather each of the 2 pieces of data from different sources:

In [44]:
# import libraries:
import pandas as pd

In [45]:
#FILL IN 1st data gathering and loading method
listing = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\listing.csv")
listing.head()

,id,name,summary,space,description,host_id,host_name,neighbourhood_group_cleansed,city,country_code,...,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price
0,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00
1,953595,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,5177328,Andrea,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",NaN,$150.00
2,3308979,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,16708587,Jill,Queen Anne,Seattle,US,...,House,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$975.00
3,7421966,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,9851441,Emily,Queen Anne,Seattle,US,...,Apartment,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",NaN,$100.00
4,278830,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,1452570,Emily,Queen Anne,Seattle,US,...,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$450.00

In [6]:
listing.columns

Index(['id', 'name', 'summary', 'space', 'description', 'host_id', 'host_name',
       'neighbourhood_group_cleansed', 'city', 'country_code', 'country',
       'property_type', 'room_type', 'accommodates', 'bathrooms', 'bedrooms',
       'beds', 'bed_type', 'amenities', 'square_feet', 'price'],
      dtype='object')

In [46]:
#FILL IN 2nd data gathering and loading method
calendar = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\calendar.csv")
calendar.head()

   listing_id      date available    price
0      241032  1/4/2016         t  $85.00
1      241032  1/5/2016         t  $85.00
2      241032  1/6/2016         f      NaN
3      241032  1/7/2016         f      NaN
4      241032  1/8/2016         f      NaN

In [47]:
# Write data to local file

Listing: (3818, 21)
Calendar: (1048575, 4)

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

### Issue 1:

In [50]:
#FILL IN - Inspecting the dataframe visually
# statistic the number of each city
# cities = df1['city'].value_counts()
# cities
listing.columns.tolist()

['id',
 'name',
 'summary',
 'space',
 'description',
 'host_id',
 'host_name',
 'neighbourhood_group_cleansed',
 'city',
 'country_code',
 'country',
 'property_type',
 'room_type',
 'accommodates',
 'bathrooms',
 'bedrooms',
 'beds',
 'bed_type',
 'amenities',
 'square_feet',
 'price']

Index(['id', 'name', 'summary', 'space', 'description', 'host_id', 'host_name',
       'neighbourhood', 'city', 'country_code', 'country', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'square_feet', 'price'],
      dtype='object')

In [ ]:
#FILL IN - Inspecting the dataframe programmatically
# count num of cities

#### Observations:

listing dataset have a column name too long: 'neighbourhood_group_cleansed'

### Issue 2:

In [52]:
#FILL IN - Inspecting the dataframe visually
# get the highest price
# max_price = df1['price'].max()
# max_price
# check num of null value
calendar.isnull().sum()

listing_id         0
date               0
available          0
price         348713
dtype: int64

#### Observations:

calendar dataset has a cloumn 'price' with too much null value

In [54]:
#FILL IN
# check the data type
calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

### Issue 3:

In [65]:
#FILL IN 
calendar.dtypes

listing_id     int64
date          object
available     object
price         object
dtype: object

#### Observations:

#FILL IN
available just has 2 kind of data but in object type

### Issue 4:

In [64]:
#FILL IN 
listing.duplicated().sum()

0

#### Observations:

#FILL IN 
listing dataset has no duplicated value

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step. 

Make copies of the datasets

In [9]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes are not impacted
df1 = listing.copy()
df2 = calendar.copy()
print(f"Listing: {df1.shape}")
print(f"Calendar: {df2.shape}")

### **Issue 1: FILL IN**

In [51]:
#FILL IN 
# many columns has name too large
# => rename 
df1.rename(columns={'neighbourhood_group_cleansed':'neighbourhood'}, inplace=True)
df1.columns

Index(['id', 'name', 'summary', 'space', 'description', 'host_id', 'host_name',
       'neighbourhood', 'city', 'country_code', 'country', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'bed_type', 'amenities', 'square_feet', 'price'],
      dtype='object')

Justification: *FILL IN*

### Issue 2: FILL IN

In [53]:
#FILL IN - Apply the cleaning strategy
# the column price has too much null value
# => drop this column
df2.dropna(inplace=True)
df2.isnull().sum()

listing_id    0
date          0
available     0
price         0
dtype: int64

In [11]:
#FILL IN - Validate the cleaning was successful

###  Issue 3: FILL IN

In [55]:
#FILL IN - Apply the cleaning strategy
# column 'available' just have 2 type of value
# convert available to bool int type
df2['available'] = df2['available'].astype('bool')
df2.dtypes

listing_id     int64
date          object
available       bool
price         object
dtype: object

In [13]:
# Validate the removing cloumn was successful

Justification:

### Issue 4: FILL IN

In [57]:
#FILL IN - Apply the cleaning strategy

In [16]:
#FILL IN - Validate the cleaning was successful

Justifications

### **Remove unnecessary variables and combine datasets if needed**

In [17]:
#FILL IN - Remove unnecessary variables and combine datasets

Remove unnecessary columns

In [61]:
#FILL IN - Remove unnecessary variables and combine dataset
df1.drop('neighbourhood', axis=1, inplace=True)

Rename columns if needed

In [47]:
#Rename column if needed
df2.rename(columns={'listing_id':'id'}, inplace=True)

#### Merge 2 dataset if needed

In [58]:
#Merge 2 dataset
df_merge = pd.merge(df1, df2, on='id')
df_merge.head()

,id,name,summary,space,description,host_id,host_name,neighbourhood,city,country_code,...,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price_x,date,available,price_y
0,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,1/4/2016,True,$85.00
1,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,1/5/2016,True,$85.00
2,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,1/13/2016,True,$85.00
3,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,1/14/2016,True,$85.00
4,241032,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,956883,Maija,Queen Anne,Seattle,US,...,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,1/18/2016,True,$85.00

## 4. Update your data store
Update the database/data store with the cleaned data

In [59]:
#FILL IN - saving data
df_merge.to_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\merge.csv")

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.html” to Final Project includes:

    1. my_Project.html

## PROJECT 1 STOPS HERE



## PROJECT 2

## 5. Answer the research question

### **5.1:** Define and answer the research question

* Question 1:

In [22]:
#Visual 1 - FILL IN

Justifications

 Question 2:

In [24]:
#Visual 2 - FILL IN

Justifications

Question n:

Justifications

### **5.2:** Reflection

After all steps above, I have the clean datasets and answer the research questions.
By using research questions, We can know the number infected cases in states, the death rate and the anomaly data.

In the future, I will look into the anomaly of the death and I will calculate the number of increasing or decreasing infected cases.
Further more, I will check the data in some columns such

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.zip” to Final Project includes:

    1. my_Project.html
    2. my _Project.ipynb