In [1]:
import pandas as pd

# Preview dataset

### Patient's features

In [10]:
feature = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\final\cancer patient_feature.csv")
feature.shape

(1000, 13)

In [11]:
feature.head()

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,Smoking,Passive Smoker
0,P1,33,1,2,4,5,4,3,2,2,4,3,2
1,P10,17,1,3,1,5,3,4,2,2,2,2,4
2,P100,35,1,4,5,6,5,5,4,6,7,2,3
3,P1000,37,1,7,7,7,7,6,7,7,7,7,7
4,P101,46,1,6,8,7,7,7,6,7,7,8,7

In [13]:
feature.columns.tolist()

['Patient Id',
 'Age',
 'Gender',
 'Air Pollution',
 'Alcohol use',
 'Dust Allergy',
 'OccuPational Hazards',
 'Genetic Risk',
 'chronic Lung Disease',
 'Balanced Diet',
 'Obesity',
 'Smoking',
 'Passive Smoker']

In [14]:
feature.isnull().sum()

Patient Id              0
Age                     0
Gender                  0
Air Pollution           0
Alcohol use             0
Dust Allergy            0
OccuPational Hazards    0
Genetic Risk            0
chronic Lung Disease    0
Balanced Diet           0
Obesity                 0
Smoking                 0
Passive Smoker          0
dtype: int64

=> No null value

In [15]:
feature.duplicated().sum()

0

=> No duplicated values

In [16]:
feature.dtypes

Patient Id              object
Age                      int64
Gender                   int64
Air Pollution            int64
Alcohol use              int64
Dust Allergy             int64
OccuPational Hazards     int64
Genetic Risk             int64
chronic Lung Disease     int64
Balanced Diet            int64
Obesity                  int64
Smoking                  int64
Passive Smoker           int64
dtype: object

In [17]:
feature['Gender'].unique()

array([1, 2], dtype=int64)

=> just has 2 value => can convert to bool type

In [19]:
feature.describe()

,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,Obesity,Smoking,Passive Smoker
count,1000.000000,1000.000000,1000.0000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,37.174000,1.402000,3.8400,4.563000,5.165000,4.840000,4.580000,4.380000,4.491000,4.465000,3.948000,4.195000
std,12.005493,0.490547,2.0304,2.620477,1.980833,2.107805,2.126999,1.848518,2.135528,2.124921,2.495902,2.311778
min,14.000000,1.000000,1.0000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,27.750000,1.000000,2.0000,2.000000,4.000000,3.000000,2.000000,3.000000,2.000000,3.000000,2.000000,2.000000
50%,36.000000,1.000000,3.0000,5.000000,6.000000,5.000000,5.000000,4.000000,4.000000,4.000000,3.000000,4.000000
75%,45.000000,2.000000,6.0000,7.000000,7.000000,7.000000,7.000000,6.000000,7.000000,7.000000,7.000000,7.000000
max,73.000000,2.000000,8.0000,8.000000,8.000000,8.000000,7.000000,7.000000,7.000000,7.000000,8.000000,8.000000

=> No unnormal value

## Cleaning data

In [33]:
feature_clean = feature.copy()
feature_clean.shape

(1000, 13)

In [34]:
# convert gender to bool data type to save memory
feature_clean['Gender'] = feature_clean['Gender'].astype('bool', )
feature_clean['Gender'].dtype

dtype('bool')

### Patient's symptom

In [24]:
symptom = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\final\cancer patient_symptom.csv")
symptom.shape

(1000, 13)

In [25]:
symptom.head()

,Patient Id,Chest Pain,Coughing of Blood,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,P1,2,4,3,4,2,2,3,1,2,3,4,Low
1,P10,2,3,1,3,7,8,6,2,1,7,2,Medium
2,P100,4,8,8,7,9,2,1,4,6,7,2,High
3,P1000,7,8,4,2,3,1,4,5,6,7,5,High
4,P101,7,9,3,2,4,1,4,2,4,2,3,High

In [29]:
symptom.columns.tolist()

['Patient Id',
 'Chest Pain',
 'Coughing of Blood',
 'Fatigue',
 'Weight Loss',
 'Shortness of Breath',
 'Wheezing',
 'Swallowing Difficulty',
 'Clubbing of Finger Nails',
 'Frequent Cold',
 'Dry Cough',
 'Snoring',
 'Level']

In [26]:
symptom.isnull().sum()

Patient Id                  0
Chest Pain                  0
Coughing of Blood           0
Fatigue                     0
Weight Loss                 0
Shortness of Breath         0
Wheezing                    0
Swallowing Difficulty       0
Clubbing of Finger Nails    0
Frequent Cold               0
Dry Cough                   0
Snoring                     0
Level                       0
dtype: int64

=> No null value

In [27]:
symptom.duplicated().sum()

0

=> No duplicated value

In [30]:
symptom.dtypes

Patient Id                  object
Chest Pain                   int64
Coughing of Blood            int64
Fatigue                      int64
Weight Loss                  int64
Shortness of Breath          int64
Wheezing                     int64
Swallowing Difficulty        int64
Clubbing of Finger Nails     int64
Frequent Cold                int64
Dry Cough                    int64
Snoring                      int64
Level                       object
dtype: object

In [31]:
symptom['Level'].unique()

array(['Low', 'Medium', 'High'], dtype=object)

In [32]:
symptom.describe()

,Chest Pain,Coughing of Blood,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,4.438000,4.859000,3.856000,3.855000,4.240000,3.777000,3.746000,3.923000,3.536000,3.853000,2.926000
std,2.280209,2.427965,2.244616,2.206546,2.285087,2.041921,2.270383,2.388048,1.832502,2.039007,1.474686
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000
75%,7.000000,7.000000,5.000000,6.000000,6.000000,5.000000,5.000000,5.000000,5.000000,6.000000,4.000000
max,9.000000,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,9.000000,7.000000,7.000000,7.000000

=> No unnormal value

## Merge data

In [35]:
df_merge = pd.merge(feature_clean, symptom, how='inner', on="Patient Id")
df_merge.shape

(1000, 25)

In [36]:
df_merge.head()

,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,Balanced Diet,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,P1,33,True,2,4,5,4,3,2,2,...,3,4,2,2,3,1,2,3,4,Low
1,P10,17,True,3,1,5,3,4,2,2,...,1,3,7,8,6,2,1,7,2,Medium
2,P100,35,True,4,5,6,5,5,4,6,...,8,7,9,2,1,4,6,7,2,High
3,P1000,37,True,7,7,7,7,6,7,7,...,4,2,3,1,4,5,6,7,5,High
4,P101,46,True,6,8,7,7,7,6,7,...,3,2,4,1,4,2,4,2,3,High

In [41]:
# save merged data
df_merge.to_csv(r"D:\Documents\3nd_year\Semester2\Thematic 2\Data\final\cancer patient_merge.csv", index_label='index')