READ and MERGE
1. Read dữ liệu từ 2 files: patients.csv, treatments.csv
2. Clean data
- Xử lý kiểu dữ liệu
- Xử lý NA
- ...
3. Merge 2 files dựa vào Given name, Surname
4. Ghi ra file Merged.csv

# 1. Read data

In [1]:
import pandas as pd

In [2]:
patient = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Data Analyze\Data\patients.csv")
patient.head()

,patient_id,assigned_sex,given_name,surname,address,city,state,zip_code,country,contact,birthdate,weight,height,bmi
0,1,female,Zoe,Wellish,576 Brown Bear Drive,Rancho California,California,92390.0,United States,951-719-9170ZoeWellish@superrito.com,7/10/1976,121.7,66,19.6
1,2,female,Pamela,Hill,2370 University Hill Road,Armstrong,Illinois,61812.0,United States,PamelaSHill@cuvox.de+1 (217) 569-3204,4/3/1967,118.8,66,19.2
2,3,male,Jae,Debord,1493 Poling Farm Road,York,Nebraska,68467.0,United States,402-363-6804JaeMDebord@gustr.com,2/19/1980,177.8,71,24.8
3,4,male,Liêm,Phan,2335 Webster Street,Woodbridge,NJ,7095.0,United States,PhanBaLiem@jourrapide.com+1 (732) 636-8246,7/26/1951,220.9,70,31.7
4,5,male,Tim,Neudorf,1428 Turkey Pen Lane,Dothan,AL,36303.0,United States,334-515-7487TimNeudorf@cuvox.de,2/18/1928,192.3,27,26.1

In [22]:
treatment = pd.read_csv(r"D:\Documents\3nd_year\Semester2\Data Analyze\Data\treatments.csv")
treatment.head()

,given_name,surname,auralin,novodra,hba1c_start,hba1c_end,hba1c_change
0,veronika,jindrová,41u - 48u,-,7.63,7.20,NaN
1,elliot,richardson,-,40u - 45u,7.56,7.09,0.97
2,yukitaka,takenaka,-,39u - 36u,7.68,7.25,NaN
3,skye,gormanston,33u - 36u,-,7.97,7.62,0.35
4,alissa,montez,-,33u - 29u,7.78,7.46,0.32

# 2. Clean data

Process file "patient.csv"

In [7]:
patient.dtypes

patient_id        int64
assigned_sex     object
given_name       object
surname          object
address          object
city             object
state            object
zip_code        float64
country          object
contact          object
birthdate        object
weight          float64
height            int64
bmi             float64
dtype: object

In [14]:
patient.isnull().sum()

patient_id       0
assigned_sex     0
given_name       0
surname          0
address         12
city            12
state           12
zip_code        12
country         12
contact         12
birthdate        0
weight           0
height           0
bmi              0
dtype: int64

In [12]:
dfPa = patient.copy()
print(dfPa.shape)

(503, 14)

In [13]:
# convert 'birthday' to datetime
dfPa['birthdate'] = pd.to_datetime(dfPa['birthdate'])
dfPa.dtypes

patient_id               int64
assigned_sex            object
given_name              object
surname                 object
address                 object
city                    object
state                   object
zip_code               float64
country                 object
contact                 object
birthdate       datetime64[ns]
weight                 float64
height                   int64
bmi                    float64
dtype: object

In [16]:
# drop the null value
dfPa.dropna(inplace=True)
dfPa.isnull().sum()

patient_id      0
assigned_sex    0
given_name      0
surname         0
address         0
city            0
state           0
zip_code        0
country         0
contact         0
birthdate       0
weight          0
height          0
bmi             0
dtype: int64

In [18]:
dfPa.duplicated().sum()

0

=> No duplicated value

Process file "treatments.csv"

In [23]:
treatment.dtypes

given_name       object
surname          object
auralin          object
novodra          object
hba1c_start     float64
hba1c_end       float64
hba1c_change    float64
dtype: object

In [24]:
treatment.isnull().sum()

given_name        0
surname           0
auralin           0
novodra           0
hba1c_start       0
hba1c_end         0
hba1c_change    109
dtype: int64

In [25]:
dfTr = treatment.copy()
print(dfTr.shape)

(280, 7)

In [28]:
# drop the 'hba1c_change' column (bc too much NA value)
dfTr.drop(['hba1c_change'], axis=1, inplace=True)
dfTr.isnull().sum()

given_name     0
surname        0
auralin        0
novodra        0
hba1c_start    0
hba1c_end      0
dtype: int64

In [33]:
dfTr.duplicated().sum()

1

In [36]:
# drop duplicated value
dfTr.drop_duplicates(inplace=True)
dfTr.duplicated().sum()

0

# 3. Merge files

In [37]:
df_merge = pd.merge(dfPa, dfTr, on=['given_name', 'surname'])
df_merge.shape

(0, 18)

In [39]:
df_merge2 = dfPa.merge(dfTr, on=['given_name', 'surname'], how='outer')
df_merge2.shape

(770, 18)

# 4. Save merged files